<footer class="footer">
	<div class="footer-block buttons">
		Copyright &copy; All rights reserved.
	</div>
	<div class="footer-block author">
		<ul>
			<li>
				Maintained by 
				<a href="https://msar.me">MSAR</a>
			</li>
		</ul>
	</div>
</footer>